/* styles */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.navbar {
    letter-spacing: 4px;
    background-color: rgba(226, 227, 232, 0.87);
}

.jumbotron { 
    background-color: #1174218c; /* Dark Green */
    color: #ffffff;
}

.bg-grey {
    background-color: #f6f6f6;
}

